<!DOCTYPE html>
<html>

    <% include ../partials/head %>
    
    <body>
        
        <% include ../partials/nav %>

        <br>

        <% if (results.length) { %>

            <h3>Results for <span style="color: red;"><%= query %></span></h3>

            <% for (let result of results) { %>
                <div class="row">
                        <div class="col">      
                            <div class="card" style="width: 18rem;">
                                <a href="/api/product/<%= result._id %>"> 
                                <img class="card-img-top" src="<%= result._source.image %>" alt="Card image cap" />
                                </a> 
                                <div class="card-body">
                                    <h5 class="card-title">Name: <%= result._source.name %></h5>
                                    <p class="card-text">Category: <%= result._source.category.name %></p>
                                    <p class="card-text">Price: $ <%= result._source.price %></p>
                                    <a href="/api/product/<%= result._id %>" class="btn btn-primary">Shop</a>
                                </div>
                            </div>
                        </div>
                </div>

                <% } %>

            <% } else { %>
                
                <h3>Search not found</h3>
            
            <% } %>
  </body>
</html>